body{
    background: linear-gradient(red,yellow);
    font-family: Verdana, Geneva, Tahoma, sans-serif

}
table{
 width: 256px;   
}
table{
    width: 256px;
    margin: auto;
    background-color: white;
}
.titre{
    background-color: black;
    color: white;
}
.image{
    width: 128px;
}
.listActeur{
    list-style: none;
    list-style: none;
    width:200px;

}
.listActeur2{
    font-weight: bold;
    font-size: x-large;
}
.imageActeur{
    list-style: none;
}
.distribution{
background-color: black;
color: white;
height: 0px ;
}
.histoire{
font-size: large;
}

.Source{
    height: 25%;
}
.source,.Films{
    list-style: circle;
    font-size: larger;
}
.listActeurLink{
    font-style: italic;
    font-size: large;
}   
.robert{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../Image/Robert_Downey_Jr..png);
}
.scarlette{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../Image/Scarlett_Johansson.png);
}
.mark{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../Image/Mark_Ruffalo.png);
}
.tom{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../Image/Tom_Hiddleston.png);
}
.jeremy{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../Image/Jeremy_Renner.png);
}
.chrisE{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../Image/Chris_Evans.png);
}
.chrisH{    
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../Image/Chris_Hemsworth.png);
}
